# --- ОБЯЗАТЕЛЬНО ---
# Файл с секретными переменными окружения
.env

# Базы данных SQLite (если случайно создавались)
*.sqlite3
db.sqlite3

# Зависимости Python и кеш
**/__pycache__/
*.pyc
*.pyo
venv/
env/
*.egg-info/
dist/
build/

# Зависимости Node.js и артефакты сборки Frontend
frontend/node_modules/
frontend/build/
frontend/.pnp.*
frontend/.yarn/*
frontend/coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# --- /ОБЯЗАТЕЛЬНО ---

# --- Опционально (рекомендуется) ---
# Файлы IDE
.idea/
.vscode/

# Файлы ОС
.DS_Store
Thumbs.db
# --- /Опционально ---
